.Toolbar {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background: #3ba6ff;
}

.Toolbar nav {
  height: 100%;
}

.Toolbar .Logo {
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.SideDrawer .Logo img {
  height: 80%;
}

.introduction .DesktopOnly {
  display: none;
}

/* @media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
} */
