.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.SideDrawer .Logo {
  background-color: #3ba6ff;
  padding: 8px 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.SideDrawer .Logo img {
  height: 80%;
}
.SideDrawer .Logo {
  height: 11%;
  margin-bottom: 32px;
}

.SideDrawer .NavigationItems {
  flex-flow: column;
  margin-top: -30px;
}

